.Navbar{
   display: flex;
   width: 100%;
   margin: auto;
   background-color: rgb(226, 229, 229);
}

.Navbar > p {
    font-weight: 600;
}

a{
    text-decoration: none;
    color: Black;
    font-size: 25px;
    margin-left: 50px;
    font-weight: 600;
}
.products-div{
    display: grid;
    grid-template-columns: repeat(4,20%);
    width: 90%;
    margin: auto;
    justify-content: center;
}
#heading{
    text-align: center;
    font-size: 40px;
}
select{
    text-align:center;
    float: right;
    width: 250px;
    height: 30px;
    color: rgb(6, 100, 100);
    margin-bottom: 25px;
    margin-right: 15px;
}
#single_prod-div{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 35px;
    margin: 1px solid black;
}
#details{
    border: 1px solid black;
    width: 80%;
    margin-left: 20px;
}
h1,h3,p{
    margin-left: 30px;
}
h1{
    color: rgb(21, 21, 158);
}